/* Color Palette
#EAF4F9 - Pale Blue
#DCEAF0 - Light Blue
#3598DB - Dark Blue
#7A7376 - Dark Grey
#C8C4C2 - Light Grey
#93ACD2 - Smoky Blue
                */

/* Border-box fix */
html {
    box-sizing: border-box;
    font-size: 20px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #EAF4F9;
    color: #7a7376;
}
h3 {
    text-transform: uppercase;
    color: black;
    padding-top: 25px;
}
p {
    font-style: italic;
    font-size: .75em;
}
form {
    background-color: white;
    height: 400px;
    width: 350px;
    text-align: center;
    box-shadow: 10px black;
    margin: 0 auto;
    margin-top: 150px;
}
a {
    text-decoration: none; 
    padding: 15px;
    font-size: .75em;
    display: block;
}
a:visited {
    color: #93ACD2;
}
button {
    background-color: #3598DB;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 250px;
}
input {
    display: block;
    margin: 10px;
    padding: 7px;
    border-bottom: 1px solid #C8C4C2;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    font-size: .7em;
    margin-top: 25px;
}